# ==============================================================================
# Portainer Stack Environment Variables Example
# ==============================================================================

# Port Mapping di Host Server (Unik Blok 93xx)
FRONTEND_PORT=9380
BACKEND_PORT=9350
INFLUX_PORT=9386

# MQTT Broker Configuration
MQTT_HOST=sdp.polinela.ac.id
MQTT_PORT=1883
MQTT_USERNAME=septa
MQTT_PASSWORD=123321
MQTT_CLIENT_ID=hydro-backend-service
MQTT_BASE_TOPIC=hidroponik/lab
MQTT_RELAY_TOPIC=hidroponik/lab/relay

# InfluxDB Configuration (Port 9386 - Tanpa memakai port 8086)
INFLUX_URL=http://influxdb:9386
INFLUX_TOKEN=hydro-secret-token-2026
INFLUX_ORG=polinela
INFLUX_BUCKET=hydroponics
INFLUX_USERNAME=admin
INFLUX_PASSWORD=polinela12345
